---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hi 👋🏽</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Philimon Ayalew, and I am a Computer Science student at
    Constructor University. I am a highly motivated individual with a passion
    for researching and working with new, complex technologies. I constantly
    strive for continuous learning and career growth. As an experienced
    full-stack engineer, I have worked with numerous web technologies, and I am
    currently delving into the field of graphics programming, where I am
    exploring the wonders of computer graphics.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Working Student Software Developer - Everest Systems GmbH"
      subtitle="From Feb 2023 to Nov 2024, Remote"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Developed and optimized the platform's Authentication System,
          contributing over 50% of its functionality, enhancing security and
          user access by streamlining authentication.
        </li>
        <li>
          Restructured the platform's page rendering by integrating a
          presentation layer, improving dynamic information fetching and
          rendering efficiency by 30%, enhancing user experience.
        </li>
        <li>
          Collaborated with an external team to integrate a proprietary
          validation language and improved our evaluation system by adding an
          additional authentication enforcement through policy conditions.
        </li>
        <li>
          Boosted the authorization system's test coverage by 90% leading to
          improved system reliability.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant for Intro to Python - Constructor University"
      subtitle="From Sep 2024 to Jan 2025, Bremen, Germany"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Served as a Teaching Assistant for the Intro to Python course,
          providing one on one tutoring, leading weekly tutorials, and assisting
          students with Python programming assignments.
        </li>
        <li>
          Delivered personalized tutoring sessions to assist students with
          Python fundamentals, algorithms, and debugging.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Technical Lead - Google Developer Student Club/Constructor University"
      subtitle="From Sep 2022 to Jun 2023, Bremen, Germany"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Led student project preparation for Google Challenges, managing a team
          and developing a full-stack web application which qualified for the
          Hult Prize Global Semi-Finals in Tunis.
        </li>
        <li>
          organized tutorials to help students on campus get accustomed to
          google development technologies such as firebase and flutter.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineering Technical Mentor - The Room/ALX"
      subtitle="From Aug 2022 to Feb 2023, Remote"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Taught and mentored over 1000+ students from across Africa in software
          engineering, delivering lectures, leading hands- on workshops, and
          providing guidance on key topics.
        </li>
        <li>
          Successfully certified over 250 students, increasing certification
          rates by 30% through personalized mentoring, rigorous assessments, and
          targeted feedback.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science - Bachleors"
      subtitle="2022 to 2026 at Constructor University, Bremen, Germany"
    />
    <TimeLineElement
      title="Software Engineering BootCamp"
      subtitle="2021 to 2022 at ALX Holberton, Remote"
    />
  </div>

  <div class="mb-0">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <div class="flex gap-4 mb-5">
    <div class="mt-8">
      <a class="btn" href="/Top100.pdf" target="_blank"
        >2024 Google Solution Challenge Top 100 Finalist</a
      >
    </div>
    <div class="mt-8">
      <a class="btn" href="/core.pdf" target="_blank">
        Google Developer Student Club Core Team Member</a
      >
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Programming Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-4">
    <li>C#</li>
    <li>TypeScript</li>
    <li>C/C++</li>
    <li>Python</li>
    <li>Dart</li>
    <li>SQL</li>
    <li>HTML/CSS</li>
    <li>PHP</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">FrameWorks/Tools</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-4">
    <li>.Net</li>
    <li>Flutter</li>
    <li>Postgresql</li>
    <li>Redis</li>
    <li>Git</li>
    <li>FireBase</li>
    <li>Next.js</li>
    <li>React</li>
    <li>Vue.js</li>
    <li>Nginx</li>
    <li>Docker</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English(C2)</li>
    <li>Amharic(C1)</li>
    <li>German(A2)</li>
  </ul>
</BaseLayout>
