---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="flex justify-between">
      <div class="text-xl py-1">Hey there 👋</div>
    </div>
    <div class="text-5xl font-bold">I'm Philimon Derib Ayakew</div>
    <div class="text-2xl py-3 font-bold">
      Software Engineer, aspiring Graphics Programmer and all around nerd 😄
    </div>
    <div class="py-2">
      <text class="text-lg">
        Computer Science Student currently tinkering with Computer Graphics.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/contact"> Let's chat!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {":)"}</div>
  </div>

  <HorizontalCard
    title="SoftRenderer"
    img="/teapot.png"
    desc="This project is a 3D rendering engine implemented in pure C#, which supports both rasterization and ray tracing rendering techniques."
    url="https://github.com/philimon-reset/SoftRenderer"
    badge="IN PROGRESS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="GrubOn"
    img="/grubon.webp"
    desc="Grub On tackles food waste and fosters community connections by allowing individuals and businesses to share or sell surplus food."
    url="https://github.com/philimon-reset/grubOn"
    badge="Top 100 GDSC"
  />
  <div class="divider my-0"></div>

  <div class="mt-8">
    <a class="btn w-full" href="/projects"> See More...</a>
  </div>
</BaseLayout>
